.login-page {
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100vw - 412px);
        height: 100vh;
        .login-wrapper {
            width: 560px;
            background-color: #fafafa;
            padding: 36px 45px 45px;
            h2 {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-weight: bold;
                font-size: 19px;
                line-height: 23px;
                color: #013A6D;
                margin-bottom: 20px;
                margin-top: 0;
                hr {
                    background-color: #F2F2F2;
                    border: 0;
                    height: 1px;
                    width: 100%;
                    margin-left: 18px;
                }
            }
            .btn-block {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 20px;
                .btn-gmail,
                .btn-facebook,
                .btn-linkedin {
                    width: 200px;
                    height: 45px;
                    background: #4285F4;
                    border-radius: 3px;
                    padding: 0;
                    border: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    cursor: pointer;
                    span {
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        color: #FFFFFF;
                        margin-left: 6px;
                    }
                }
                .btn-facebook {
                    background: #4267B2;
                }
                .btn-linkedin {
                    width: 50px;
                    background: #0077B5;
                }
            }
            .action-block {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                button {
                    width: 200px;
                    height: 45px;
                    background: #013A6D;
                    border-radius: 3px;
                    padding: 0;
                    border: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 14px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
                 a {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: right;
                    color: #828282;
                    text-decoration: none;
                    span {
                        color: #013A6D;
                        font-weight: bold;
                    }
                 }
            }
        }
    }
}