.password-reset-page {
    .password-reset-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100vw - 412px);
        height: 100vh;
        .password-reset-wrapper {
            width: 560px;
            background-color: #fafafa;
            padding: 36px 45px 45px;
            h2 {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-weight: bold;
                font-size: 19px;
                line-height: 23px;
                color: #013A6D;
                margin-bottom: 20px;
                margin-top: 0;
            }
            p {
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                color: #828282;
                margin-bottom: 40px;
            }
            .action-block {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                button {
                    width: 200px;
                    height: 45px;
                    background: #013A6D;
                    border-radius: 3px;
                    padding: 0;
                    border: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 14px;
                    color: #FFFFFF;
                    cursor: pointer;
                    a {
                        color: #FFFFFF;
                     }
                }
                 a {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: right;
                    color: #828282;
                    text-decoration: none;
                    span {
                        color: #00A9E2;
                        font-weight: bold;
                    }
                 }
                 .link-block {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                 }
            }
        }
        .login-link {
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            color: #828282;
            text-decoration: none;
            margin-top: 20px;
            span {
                color: #00A9E2;
                font-weight: bold;
            }
        }
    }
}