@import '../../scss/variables';
@import '../../scss/mixins';


.defaultLayout {
  display: flex;
  margin-top: 60px;
  position: fixed;
  width: 100%;
}

.sideNav {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  background: $shark;
  padding: 0;
  min-height: calc(100vh - 60px);
  z-index: 100;
}

.activeMenu {
  background: $active_menu;
}

.icon {
  fill: $cloud;
}

.navList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  height: calc(100vh - 76px);
  //overflow: auto;
  overflow-x: hidden;
  @include customScrollbar;

  li {
    border-bottom: 1px solid $masala;
  }
}

.mainContent {
  // position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(217, 217, 217, 0.8) $white;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-ms-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: $white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-bg;
    opacity: 0.6;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-bg;
    opacity: 0.8;
    border-radius: 10px;
  }
}

// side nav memus
.contentIcon {
  width: 20px;
  height: 20px;
  path {
    stroke: $cloud !important;
  }
  line {
    stroke: $cloud !important;
  }
  &:hover {
    fill: #fff;
  }
}
