.auth-layout {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    .left-banner-block {
        display: flex;
        flex-direction: column;
        width: 412px;
        background-color: #fafafa;
        position: relative;
        padding: 104px 0 0 68px;
        .ct {
            height: 64px;
            width: 64px;
            padding-bottom: 14px;
        }
        .ct-text {
            height: 33px;
            width: 250px;
            padding-bottom: 11px;

        }
        .logo-text {
            padding-bottom: 20px;
        }
        .skill-banner {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}